html {
    font-size: 14px;
    background-color: #121212;
    color: #e0e0e0;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #121212;
    color: #e0e0e0;
}

th {
    background-color: #808000 !important;
    color: #e0e0e0;
    font-size: 16px;
}

td {
    background-color: #3c3c3c;
    color: #e0e0e0;
}

/* Upload styles */
.upload-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

    .upload-container label {
        font-weight: bold;
    }

    .upload-container input {
        min-width: 150px;
    }

/* Filter styles */
.filter-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

    .filter-container label {
        font-weight: bold;
    }

    .filter-container input {
        min-width: 150px;
    }


.d-flex.align-items-center.flex-wrap > * {
    margin-bottom: 0.5rem;
}

/* Summary styles */
.summary-container {
    background-color: #3c3c3c;
    border: 2px solid #444444;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

    .summary-container p {
        font-size: 1.1em;
        margin: 0.5em 0;
    }

        .summary-container p strong {
            font-weight: bold;
        }

    .summary-container .text-success {
        color: #28a745;
    }

    .summary-container .text-danger {
        color: #dc3545;
    }

    .summary-container .text-warning {
        color: #ffc107;
    }

    .summary-container .text-primary {
        color: #007bff;
    }

.highlight {
    background-color: yellow;
}

.large-modal {
    max-width: 80% !important;
    width: 80% !important;
}

/* Center all headers */
h2, h5 {
    text-align: center;
}

/* Card styles */
.card {
    margin-bottom: 20px;
    background-color: #3c3c3c;
    color: #e0e0e0;
    border: 1px solid #444444;
}

.card-body {
    padding: 10px;
}

/* Rounded card corners */
.rounded-card {
    border-radius: 15px;
}

/* Reduced padding for upload and filter containers */
.reduced-padding {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Full-width button */
.btn-block {
    width: 100%;
}

/* Tab content styling */
.tab-content {
    border: 1px solid #444444;
    border-top: none;
    padding: 15px;
    border-radius: 0 0 15px 15px;
    background-color: #3c3c3c;
    color: #e0e0e0;
}

/* Pagination styles */
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .pagination-container .btn-group .btn {
        margin: 0 5px;
    }

.nav-tabs .nav-link {
    color: #e0e0e0;
}

.nav-tabs .nav-link.active {
    background-color: #333333;
    color: #e0e0e0;
}

/* Chart styles */
.chart-container {
    background-color: #767676;
    border: 1px solid #444444;
    border-radius: 15px;
    padding: 20px;
    color: #e0e0e0;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
    border-width: 0.3rem;
}

